@using Sitecore.Mvc
@{
    var columns = string.Empty;
    int totalColumns = 0;
    var renderingContext = Sitecore.Mvc.Presentation.RenderingContext.CurrentOrNull;
    if (renderingContext != null)
    {
        var parameters = renderingContext.Rendering.Parameters;
        columns = parameters["columns"];

        int.TryParse(columns, out totalColumns);
    }
}

<div class="row" style="min-height: 300px; min-width: 100px;">
    @for (var column = 1; column <= totalColumns; column++)
    {
        <div class="column">
            @Html.Sitecore().Placeholder("column-" + column)
        </div>
    }
</div>